@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

:root {
    --title-color: #10B9B9;
    --primary-color: #AA79FC;
    --secondary-color: #A0FFEF;
}

body {
    background-color:#000;
    color: #999
}

ul {
    list-style: none;
}

h1,h2,h3,h4 {
    color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

image {
    width: 100%;
}